body {
    font-family: Calibri;
}

h2 {
    text-align: center;
}

.container-painel {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.itens-painel {
    text-align: center;
    border: 1px solid black;
    background-color: black;
    border-radius: 20%;
    width: 80px;
    height: 80px;
}

.numero-pessoas {
    font-size: 20px;
    color: white;
}

.numero-mesas {
    color: white;
    font-size: 35px;
    margin-top: -5px;
}

.container-formulario {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 10px;
}

.campo-pesquisa {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.container-tabela {
    display: flex;
    justify-content: center;
}

.col-nome {
    text-align: left;
    padding-left: 15px !important;
}

.botao-concluir {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.img-concluir {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
    .img-concluir:hover {
        background-color: #26be75;
    }